[Unit]
Description=Spotifoni GPIO control daemon
After=multi-user.target sound.target

[Service]
Type=simple
WorkingDirectory=/opt/spotifoni/gpio-daemon
ExecStart=/usr/bin/python3 /opt/spotifoni/gpio-daemon/spotifoni-controls.py
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
